<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <div class="container">
        <form class="usersForm" action="/" method="POST">
            <div class="innerForm">
                <div class="controls">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" />
                </div>
                <button>register</button>
            </div>
        </form>
    </div>
</body>

</html>